
body{
    display: flex;
}
#nav{
    min-width: 220px;
    margin-top: 25px;
}
#nav a{
    text-decoration: none;
    color: black;
    font-size: x-large;
}
#nav td{
    background-color: rgba(87, 87, 87, 0.5);
    text-align: center;
    vertical-align: middle;
    width: 1%;
    border: solid rgb(255, 255, 255) 3px;
}
.audit {
    position: relative;
    text-align: center;
}
#auditLog td{
    width: 200px;
    height:50px;
    border: solid;
    text-align: left;
    vertical-align: top;
}
#auditLog{
    border: 1px solid; border-collapse: collapse
}
#appList {
    text-align: center;
}
#good {
    background-color: rgba(47, 255, 0, 0.8);
}
#decent {
    background-color: rgba(255, 119, 0, 0.8);
}
#bad {
    background-color: rgba(255, 25, 0, 0.8);
}